body {
  font-family: "Blinker", sans-serif;
  font-weight: 300;
}

.weather-app-wrapper {
  max-width: 750px;
  max-height: 600px;
  margin: 30px auto;
  color: #ffffff;
}
.weather-app {
  border: 5px solid #1c71f1;
  border-radius: 5px;
  border-style: ridge;
  padding: 20px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/109/original/background5.gif?1638661717);
  background-size: 800px;
}
