body {
  font-weight: 300;
}

.weather-app-wrapper {
  font-family: "Blinker", sans-serif;
  max-width: 700px;
  max-height: 580px;
  margin: 30px auto;
  color: #ffffff;
}
.weather-app {
  border: 5px solid #272044;
  border-radius: 5px;
  border-style: ridge;
  padding: 20px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/102/original/background2.gif?1638658122);
  background-size: cover;
  width: 100%;
}

@media (max-width: 767.98px) {
  .weather-app {
    padding: 10px;
  }
  .weather-app-wrapper {
    margin: 0 auto;
  }
}
